<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Authentication</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}
</head>
<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-{{ messages[0].split(' ')[0] }}" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

    {% block scripts %}
        <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}" type="text/babel"></script>
    {% endblock %}
</body>
</html>
