{% extends 'layout.html' %}

{% block content %}
    <h2>My Stats</h2>
    <p>Welcome, {{ current_user.username }}!
    <a href="{{ url_for('logout') }}" class="btn">Logout</a></p>
    <p>{% if data.all_likes|length > 0 %} Last Backup: {{ data.all_likes[0][4] }} {% endif %}

    <form id="stats-form" method="POST" action="{{ url_for('stats') }}">
        {{ form.hidden_tag() }}
        <span id="message">{{ message }}</span>
        <div class="form-group code hidden1">
            {{ form.security_code.label(class="form-control-label") }}
            {{ form.security_code(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.instagram_email.label(class="form-control-label") }}
            {{ form.instagram_email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.instagram_password.label(class="form-control-label") }}
            {{ form.instagram_password(class="form-control") }}
        </div>
        <button type="submit" id="sync" class="btn btn-primary">Backup Likes</button>
    </form>

    <p><span id="n_likes"></span></p>

    <ul class="nav nav-tabs" id="image-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="tab1" data-toggle="tab" href="#container1">Likes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab2" data-toggle="tab" href="#container2">Comments</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="container1">
            <div id="image-container1">
            {% for like_data in data.all_likes %}
                <a href="{{ url_for('details', id=loop.index) }}">
                    <img src="data:image/jpeg;base64,{{ like_data[5] }}" alt="Image">
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="container2">
            <div id="image-container2">
            {% for comment_data in data.all_comments %}
                <div>
                    <div class="wrapper">
                        <b>{{comment_data[1]}}</b>
                        <span>{{comment_data[2]}}</span>
                    </div>
                    <img src="data:image/jpeg;base64,{{ comment_data[5] }}" alt="Image">
                    </br>
                    <b class="mycomment">{{comment_data[3]}}</b>
                    <span>{{comment_data[4]}}</span>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
